In [ ]:
n = int(input(""))

if n >= 90:
    print("A")
elif n >= 80:
    print("B")
elif n >= 70:
    print("C")
elif n >= 60:
    print("D")
else:
    print("F")

In [ ]:
x = int(input(""))
y = int(input(""))

if x > 0 and y > 0:
    print("1")
elif x < 0 and y > 0:
    print("2")
elif x > 0 and y < 0:
    print("4")
elif x < 0 and y < 0:
    print("3")

In [ ]:
H, M = input("").split()
H = int(H)
M = int(M)

if M > 44:
    print(H,M-45)
elif M <= 44 and H > 0:
    print(H-1,M+15)
else:
    print(23, M+15)

In [ ]:
A,B = input("").split()
C = int(input(""))
A = int(A)
B = int(B)

In [ ]:
A,B,C = input("").split()
A = int(A)
B = int(B)
C = int(C)

if A == B == C :
    sum = A * 1000 + 10000
    print(sum)
elif A == B or A == C:
    sum1 = 1000 + A * 100
    print(sum1)
elif B == C :
    sum2 = 1000 + C * 100
    print(sum2)
else:
    if A > B and A > C:
        sum3 = A*100
        print(sum3)
    elif B > C:
        sum4 = B * 100
        print(sum4)
    else:
        sum5 = C * 100
        print(sum5)

In [ ]:
n = int(input(""))

for i in range(1, 10):
    print(f"{n} * {i} =", n*i)

In [ ]:
t = int(input(""))
for i in range(1, t+1):
    a,b = input("").split()
    a = int(a)
    b = int(b)
    print(a+b)

In [ ]:
t = int(input(""))
for i in range(1, t+1):
    a,b = input("").split()
    a = int(a)
    b = int(b)
    print(f"Case #{i}:", a+b)

In [ ]:
t = int(input(""))
for i in range(1, t+1):
    a,b = input("").split()
    a = int(a)
    b = int(b)
    print(f"Case #{i}:", a,"+",b,"=", a+b)

In [ ]:
n = int(input(""))
for i in range(1, n+1):
    print("*"*i, end="\n")

In [ ]:
n = int(input(""))
for i in range(1, n+1):
    print(" "*(n-i), end="")
    print("*"*i)

In [ ]:
while True: # 무한반복
    A,B = input("").split()
    A = int(A)
    B = int(B)
    if A == 0 and B == 0:
        break
    else:
        print(A+B)
        continue
    print()

In [ ]:
while True:
    try:
        A,B = input("").split()
        A = int(A)
        B = int(B)
        print(A+B)
    except:
        break

In [ ]:
h, m = input("").split()
h = int(h)
m = int(m)

if m > 44:
    print(h, m-45)
elif h > 0 :
    print(h-1, m+15)
else:
    print(23, m+15)

In [ ]:
a,b = input("").split()
a = int(a[::-1])
b = int(b[::-1])

if a > b:
    print(a)
else:
    print(b)

In [ ]:
while True:
    try:
        print(input())
    except:
        break

In [ ]:
A,B = map(int, input().split())
print(A+B)

In [ ]:
A,B,C = map(int, input().split())

if A > B and A > C:
    print(A)
elif B > C: # B > A , C > A
    print(B)
else:
    print(C)

In [ ]:
A,B,C = map(int, input().split())

if A == B == C:
    print(A)
elif A == B or A == C:
    print(A)
elif B == C or B == A:
    print(B)
elif C == A or C == B:
    print(C)
elif A > B and A > C:
    if B > C:
        print(B)
    else:
        print(C)
elif B > C and B > A:
    if A > C:
        print(A)
    else:
        print(C)
elif C > A and C > B:
    if A > B :
        print(A)
    else:
        print(B)

In [ ]:
n = int(input())
for i in range(1, n+1):
    print("*"*i)

In [ ]:
n = int(input())
for i in range(1, n+1):
    print("*"*(n-i+1))

In [ ]:
n = int(input())
for i in range(1, n+1):
    print(" "*(n-i+1)+"*"*i)

In [ ]:
A,B = map(int, input().split())
print(A+B)

In [ ]:
n = int(input())
sum = 1
for i in range(n, 0, -1):
    sum = sum * i
print(sum)

In [ ]:
sum = 0
for i in range(5):
    a = int(input(""))
    if a > 39:
        sum = sum + a
    else:
        sum = sum + 40
print(sum//5)

In [ ]:
n = int(input())
f1 = 0
f2 = 1
f3 = f1 + f2

for i in range(n-1):
    f3 = f1 + f2
    f1 = f2
    f2 = f3
print(f3)

In [ ]:
money,member = map(int, input().split())

print(money//member)
print(money%member)

In [ ]:
R1, S = map(int, input().split())
R2 = 2*S - R1
print(R2)

In [ ]:
N,M = map(int, input().split())
if N > M:
    print(N-M)
else:
    print(M-N)

In [ ]:
n = int(input())
print(n - 1946)

In [ ]:
T = int(input())
A = T // 300
B = (T-A*300) // 60
C = (T-(A*300+B*60)) // 10
if T % 10 != 0:
    print(-1)
else:
    print(A, B, C)

In [ ]:
print("""       _.-;;-._
'-..-'|   ||   |
'-..-'|_.-;;-._|
'-..-'|   ||   |
'-..-'|_.-''-._|""")

In [ ]:
import sys
n = int(input(""))
input = sys.stdin.readline
for i in range(n):
    A,B = map(int, input().rstrip().split())
    print(A+B)

In [ ]:
sentence = []
n = input()
sentence.append(n)
print(sentence)
len(sentence)

In [ ]:
n = int(input())
numbers = list(map(int, input().split()))
numbers.sort()
print(numbers[0], numbers[-1])

In [ ]:
numbers = []
for i in range(9):
    n = int(input())
    numbers.append(n)
print(max(numbers))
print(numbers.index(max(numbers))+1)

In [ ]:
print("""     /~\\
    ( oo|
    _\\=/_
   /  _  \\
  //|/.\\|\\\\
 ||  \\ /  ||
============
|          |
|          |
|          |""")

In [ ]:
a,b = map(int, input().split())
c = int(input())
a = a + c // 60
b = b + c % 60

if b >= 60:
    a = a + 1
    b = b - 60
if a >= 24:
    a = a - 24
print(a, b)

In [ ]:
a,b = map(int, input().split())

if b > 44 :
    print(a, b-45)
elif a > 0 : # elif 는 b <= 44 내장
    print(a-1, b+15) # + 15 인 이유는 ? b = 44, 44 - 45 = -1
else: # 60 - 1 = 59 = 44 + 15
    print(23, b+15)

In [ ]:
n,x = map(int, input().split())
numbers = list(map(int, input().split()))
low = []
for i in range(n):
    if numbers[i] < x:
        low.append(numbers[i])
for j in range(len(low)):
    print(low[j], end = " ")

In [ ]:
# using list comprehension
# to convert number to list of integers
# res = [int(x) for x in str(num)]
A = int(input())
B = int(input())
C = int(input())
res = A*B*C
x = [int(a) for a in str(res)]
for i in range(10):
    print(x.count(i))

In [ ]:
n = int(input())
num = n
cnt = 0

while True:
    a = num // 10
    b = num % 10
    c = (a+b)%10
    num = b=(b * 10) + c
    cnt += 1
    if num == n :
        break
print(cnt)

In [ ]:
d,h,w = map(int,input().split())
r = d/(h**2+w**2)**0.5
print(int(h*r),int(w*r))

In [ ]:
A,B,C = map(int, input().split())
D = int(input()) 

C+=D
B+=C//60
A+=B//60
C%=60
B%=60
A%=24
print(A,B,C)

In [ ]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

In [ ]:
print("""NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1""")

In [ ]:
words = tuple(input().split())
len(words)

In [ ]:
while True:
    a,b = map(int, input().split())
    if a - b > 0: # a is bigger than b
        print("Yes")
    elif a - b < 0: # a is smaller than b
        print("No")
    elif a == 0 and b == 0:
        break
    elif a - b == 0:
        print("No")

In [ ]:
while True:
    a,b = map(int, input().split())
    if a == 0 and b == 0:
        break
    elif a > b:
        print("Yes")
    else:
        print("No")

In [ ]:
a,b,c,d,e,f,g,h = map(int, input().split())

if a > b > c > d > e > f > g > h :
    print("descending")
elif a < b < c < d < e < f < g < h:
    print("ascending")
else:
    print("mixed")

In [ ]:
ref = []
while True:
    try:
        a, food = input().split()
        if a == '+':
            ref.append(food)
        elif a == '-':
            if food not in ref:
                pass
            else:
                ref.remove(food)
        elif a == 'x':
            break
    except:
        break
print(ref)

In [ ]:
import sys
 
for _ in range(3):
    N = int(sys.stdin.readline())
    sum = 0
    for i in range(N):
       num = int(sys.stdin.readline())
       sum += num 
    
    if sum > 0:
        print("+")
    elif sum < 0:
        print("-")
    else:
        print("0")

In [ ]:
A,B = map(int, input().split())

if A < B:
    print((A+B)*(B-A+1)//2)
elif A > B:
    print((A+B)*(A-B+1)//2)
elif A == B:
    print(A)

In [ ]:
list = []
list1 = []
for x in range(10):
    n = int(input())
    list.append(n)
for y in range(10):
    k = list[y] % 42
    list1.append(k)
s = set(list1) # 중복된 요소를 제거해주는 함수
print(len(s))

In [ ]:
n = int(input()) #과목 갯수
test_list = list(map(int, input().split())) # 과목 별 점수
newgrade = [] 
for score in test_list: # test_list 안의 요소들을 score 로 반환
    grade = score / max(test_list)*100
    newgrade.append(grade)
middle = sum(newgrade) / n
print(middle)

In [ ]:
n = int(input())
cnt = 0
for x in range(n):
    grades = list(map(int, input().split()))
    for y in grades[1:]:
        avg = sum(grades[1:]) / grades[0]
        if avg < y:
            cnt += 1
        else:
            pass
    rate = (cnt/grades[0])*100
    print(f'{rate:.3f}%')
    cnt = 0

In [ ]:
correct = int(input())
id = input()
print(correct)
print(id)

In [ ]:
n = int(input())
for i in range(1,n+1):
    print("*"*i, end="\n")
for x in range(n-1):
    print("*"*(n-x-1), end="\n")

In [ ]:
n = int(input())
for i in range(n):
    ox_list = list(input())
    sum = 0
    sum_real = 0
    for ox in ox_list:
        if ox == 'O':
            sum += 1
            sum_real += sum
        else:
            sum = 0
    print(sum_real)

In [ ]:
n = int(input())
num = input()
sum = 0
for i in range(n):
    sum += int(num[i])
print(sum)

In [ ]:
import sys

for _ in range(3):
    sum = 0
    n = int(input())
    for x in range(n):
        num = int(input())
        sum += num
    if sum > 0:
        print("+")
    elif sum < 0:
        print('-')
    else:
        print("0")

In [ ]:
child1 = int(input())
child2 = int(input())
arithmetic = child2 - child1
print(child2 + arithmetic)

In [ ]:
n = int(input())
cost = 0
record = []
for i in range(n):
    country = input()
    record.append(country)
    if country == 'botswana':
        cost += 0
        if 'zimbabwe' in record:
            record.remove(zimbabwe)
        if 'zambia' in record:
            record.remove(zambia)
    elif country == 'ethiopia':
        cost += 50
        if 'zimbabwe' in record:
            record.remove(zimbabwe)
        if 'zambia' in record:
            record.remove(zambia)
    elif country == 'kenya':
        cost += 50
        if 'zimbabwe' in record:
            record.remove(zimbabwe)
        if 'zambia' in record:
            record.remove(zambia)
    elif country == 'namibia':
        if 'south-africa' in record:
            cost += 40
            if 'zimbabwe' in record:
            record.remove(zimbabwe)
        if 'zambia' in record:
            record.remove(zambia)
        else:
            cost += 140
            if 'zimbabwe' in record:
            record.remove(zimbabwe)
        if 'zambia' in record:
            record.remove(zambia)
    elif country == 'south-africa':
        cost += 0
        if 'zimbabwe' in record:
            record.remove(zimbabwe)
        if 'zambia' in record:
            record.remove(zambia)
    elif country == 'tanzania':
        cost += 50
        if 'zimbabwe' in record:
            record.remove(zimbabwe)
        if 'zambia' in record:
            record.remove(zambia)
    elif country == 'zambia':
        if 'zimbabwe' in record:
            cost += 20
        else:
            cost += 50
    elif country == 'zimbabwe':
        if 'zambia' in record:
            cost += 0
        else:
            cost += 30
print(cost)

In [ ]:
a,b = map(int, input().split())
for i in range(a):
    c,d = map(int, input().split())
print("비와이")

In [ ]:
n = int(input())
sum1 = 0

for i in range(1, n+1):
    if n % i == 0:
        sum1 += (n//i)*i
print(sum1)

In [ ]:
print("""    8888888888  888    88888
   88     88   88 88   88  88
    8888  88  88   88  88888
       88 88 888888888 88   88
88888888  88 88     88 88    888888

88  88  88   888    88888    888888
88  88  88  88 88   88  88  88
88 8888 88 88   88  88888    8888
 888  888 888888888 88  88      88
  88  88  88     88 88   88888888""")

In [ ]:
S = input()
letter ='abcdefghijklmnopqrstuvwxyz'
for i in letter:
    if i in S:
        print(S.index(i), end =' ')
    else:
        print("-1", end = ' ')

In [ ]:
test = int(input())
for _ in range(test):
    R, S = input().split()
    for x in S:
        print(x*int(R), end ="")
    print()

In [ ]:
print("""SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21        
J-Type 327     Light Combat   Unlimited  1         
NX Cruiser     Medium Fighter Limited    18        
N1 Starfighter Medium Fighter Unlimited  25        
Royal Cruiser  Light Combat   Limited    4         """)

In [ ]:
a,b = map(int,input().split())
steal = a/b

print(1-steal)

In [ ]:
A,B = map(int, input().split())
special = (A+B)*(A-B)
print(special)

In [ ]:
a,b,c = map(int, input().split())

if b>=c:
    print(-1)
else:
    print(int(a/(c-b)+1))

In [ ]:
A,B,V = map(int, input().split())
day = A-B
cnt = 0
status = 0

while True:
    V = V - day
    cnt += 1
    if V - A == 0:
        cnt += 1
        break
    elif V <= 0:
        break
        
print(cnt)

In [ ]:
S = input()
count = {}
for ch in S:
    count[ch] = count.get(ch, 0) + 1
    
print(max(count.keys().upper()))

In [ ]:
def fibo(n):
    a,b = 0, 1
    for i in range(n):
        a, b = b, a+b
    return a

n = int(input())
print(fibo(n))

In [ ]:
T = int(input())
for i in range(T):
    k = int(input())
    n = int(input())

In [ ]:
n = int(input()) # 설탕 kg
five = n // 5
three = (n - 5*five) // 3

if n % 5 == n and n % 3 == n :

In [ ]:
N, M, K = map(int, input().split()) #  N 여학생, M 남학생, K 인턴쉽
team = 0

while N >= 2 and M >= 1 and N + M >=  K + 3 :
    N -= 2
    M -= 1
    team += 1
print(team)

In [ ]:
while True:
    try:
        print(input())
    except:
        break

In [ ]:
a = "world"
len(a)

In [ ]:
n = int(input())
cnt = n
for _ in range(n):
    word = input()
    for i in range(len(word)-1):
        if word[i] != word[i+1]:
            if word[i+1] in word[:i]:
                cnt -= 1
                break
print(cnt)

In [ ]:
lst = []
a,b,c = map(int, input().split())
lst.append(a)
lst.append(b)
lst.append(c)
d = sorted(lst)
print(d[0],d[1],d[2], sep = ' ')

In [ ]:
n = int(input())
a,b,c,d,e = map(int, input().split())
s = [a,b,c,d,e]
cnt = 0
for x in range(5):
    if n < 10:
        if s[x] == n:
            cnt += 1
        else:
            pass
    elif n > 10:
        if s[x] == (n % 10):
            cnt += 1
        else:
            pass
print(cnt)

In [ ]:
a,b,c,d,e = map(int, input().split())
q,p,r,s,t = map(int, input().split())
toggle = 0
if a or q > 0:
    toggle = 1

if toggle == 1:
    point1 = (a*6 + b*3 + c*2 + )

In [ ]:
print("""         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |""")

In [ ]:
def selfnum():
    n = 1
    n_1 = n // 10
    n_2 = n % 10
    self_num = n + n_1 + n_2
    return self_num 
print(selfnum())

In [ ]:
 list = []
toggle = 0
for i in range(7):
    n = int(input())
    if n % 2 != 0:
        list.append(n)
        toggle = 1
    else:
        pass

if toggle == 0:
    print("-1")
else:
    print(sum(list))
    print(min(list))

In [ ]:
def gcd(a, b):
    while b > 0:
        a, b = b, a % b
    return a

T = int(input())
for i in range(T):
    a, b = map(int, input().split())
    lcm = a * b / gcd(a, b)
    print(int(lcm))

In [ ]:
def gcd(a, b):
    while b > 0:
        a, b = b, a % b
    return a

def lcm(a, b):
    lcm = a * b // gcd(a, b)
    return lcm

a,b = map(int, input().split())
print(gcd(a, b))
print(lcm(a, b))

In [ ]:
def gcd(a, b):
    while b > 0:
        a, b = b, a % b
    return a

def lcm(a, b):
    lcm = a * b // gcd(a, b)
    return lcm

n = int(input())
for i in range(n):
    a,b = map(int, input().split())
    print(lcm(a, b))

\

In [ ]:
def fibo(n):
    f1 = 0
    f2 = 1
    f3 = f1 + f2
    for _ in range(n-1):
        f3 = f1 + f2
        f1 = f2
        f2 = f3
    return f3

n = int(input())
print(fibo(n))

In [ ]:
n = input()
for i in range(0,len(n),10):
    print(n[i:i+10])

In [ ]:
n = input()
for i in range(1,len(n)):
    left = right = 1
    for x in n[:i]:
        left *= int(x)
    for y in n[i:]:
        right *= int(y)
    if left == right:
        print("YES")
        break
else:
    print('NO')

In [ ]:
word = input().upper()
wordlist = list(set(word))
cnt = []

for i in wordlist:
    count = word.count
    cnt.append(count(i))

if cnt.count(max(cnt)) > 1:
    print("?")

else:
    print(wordlist[(cnt.index(max(cnt)))])

#### n = int(input())
number = map(int, input().split())

for i in number:
    cnt = 0
    if i == 1:
        continue
    for x in range(2, n+1):
        if i % x == 0:
            pass
        else:
            cnt+=1
print(cnt)

In [ ]:
n = int(input())
number = list(map(int, input().split()))
cnt = 0

for x in number:
    for i in range(2, x+1):
        if x % i == 0:
            if x == i:
                cnt +=1
                
        break
print(cnt)

In [ ]:
n = int(input())
num = []
for i in range(n):
    num.append(int(input()))

num.sort()
for i in num:
    print(i)

In [ ]:
import sys
n = int(input())
num = []
for _ in range(n):
    num.append(int(sys.stdin.readline()))
num.sort()
for i in num:
    print(i)

In [1]:
while True:
    try:
        n = input()
        if n == '0':
            break
        else:
            if n[::1] == n[::-1]:
                print("yes")
            else:
                print("no")
    except:
        break

121
yes
1231
no
12421
yes
0

In [2]:
x,y,w,h = map(int, input().split())
print(min(x, y, w-x, h-y))

653 375 1000 1000
347